@use "sass:math";
@use "../../../css/global/variables";

.wp-block-badegg-coloured-cards {
  container-name: BadEggColouredCards;
  container-type: inline-size;
}

.card-coloured {
  display: flex;
  flex-direction: column;

  &-heading {
    flex: 1;
    background: rgba(variables.$black, 0.15);

    @container Card (min-width: 22em) {
      h3 { font-size: 2em; }
    }
  }

  &-text {
    flex: 1 1 2em;
  }
}
