@use "sass:math";

@use "../../../../css/global/variables";

.wp-block-badegg-article {
  container-name: BadEggArticle;
  container-type: inline-size;

  > .container > [class^="wp-block-"]:not(.wp-block-heading) {
    margin: variables.$innerLarge auto;
  }

  .is-layout-flex {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$gapLarge;
  }
}
