@use "../global/variables";

.wp-block-list {
  container-name: wpBlockList;
  container-type: inline-size;

  > * {
    &:first-of-type {
      &.section-zero-top {
        @media (max-width: variables.$screen-xs-max) {
          padding-top: variables.$sectionSmall;
        }
      }

      .has-first-block-knockout & {
        &::before {
          content: '';
          display: block;
          height: 8.25em;

          @media (min-width: variables.$screen-lg) {
            height: 10.25em;
          }
        }
      }
    }

    &:last-of-type {
      &::after {
        content: '';
        display: block;
        height: variables.$angleHeight;
      }
    }
  }
}

.is-on-fire,
.has-bg-image {
  position: relative;

  > .inner,
  > .container {
    position: relative;
    z-index: 10;
  }
}

.badegg-block-background {
  position: absolute;
  z-index: 1;
  inset: 0;
}

.fire-bg {
  position: absolute;
  inset: 0;
  background-image: url('@images/bad-egg-digital-fire-bg.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  opacity: 0.3;

  @container wpBlockList (min-width: #{variables.$screen-sm}) {
    width: 50%;
    left: auto;
  }

  @container wpBlockList (min-width: #{variables.$screen-lg}) {
    width: 40%;
    opacity: 1;
  }
}

.block-footer,
.block-intro {
  display: flex;

  &.section {
    @extend .section-small !optional;
  }

  &.align-left { justify-content: flex-start; }
  &.align-right { justify-content: flex-end; }
  &.align-centre { justify-content: center; }

  > .container {
    width: auto;
    margin: 0;

    .align-left &,
    .align-right & {
      margin: 0;
    }
  }
}
