@use "../global/variables";

.menu-off-canvas {
  position: fixed;
  inset: 0;
  left: auto;
  width: variables.$offCanvasWidth;
  transition: transform 300ms ease;
  transform: translateX(100%);
  overflow-y: auto;

  .admin-bar & {
    top: 32px;

    @media (max-width: 783px) {
      top: 46px;
    }

    @media (max-width: 600px) {
      top: 0;
    }
  }

  .menu-open & {
    transform: none;
  }

  @media (min-width: variables.$screen-md) {
    display: none;
  }

  &-ul {
    li {
      &.current-menu-item {
        > a {
          color: variables.$tertiary-lighter;
        }
      }
    }

    a {
      display: block;
      padding: 0.25em 0;
      color: variables.$white;
    }

    > li {
      margin: 0.25em 0 0;

      > a {
        font-weight: 700;
        font-style: italic;
        font-size: 1.25em;
      }

      .sub-menu {
        margin: 0;
        list-style: none;
        padding: 0 0 1em 0.5em;
      }

      &.menu-item-logo-footer {
        width: 7.5em;
        margin: 0 0 1em;
      }
    }
  }

  &-contact {
    padding: 0 0 0 0.5em;

    a {
      display: block;
      padding: 0.25em 0;
    }
  }

  .socials {
    font-size: 1.25em;
    margin: 0.5em -0.25em 0;
  }
}
