@use "../variables";

.has-bg-image {
  position: relative;
  overflow: hidden;

  > .container {
    position: relative;
    z-index: 10;
  }

  .bg {
    &-image {
      position: absolute;
      inset: 0;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-fixed {
      background-attachment: fixed;
    }

    &-contain {
      background-size: contain;
    }

    &-filter {
      &-screen {
        mix-blend-mode: screen;
        filter: grayscale(100);
      }

      &-multiply {
        mix-blend-mode: multiply;
        filter: grayscale(100);
      }
    }
  }
}

.section-angle {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: calc(100% + 2px) calc(100% + 2px);
  height: variables.$angleHeight;

  &-top-left     { mask-image: url("@images/angle-top-left.svg");     mask-position: calc(0% - 1px) calc(100% + 1px);  }
  &-top-right    { mask-image: url("@images/angle-top-right.svg");    mask-position: calc(100% + 1px) calc(100% + 1px); }
  &-bottom-left  { mask-image: url("@images/angle-bottom-left.svg");  mask-position: calc(0% - 1px) calc(0% - 1px);     }
  &-bottom-right { mask-image: url("@images/angle-bottom-right.svg"); mask-position: calc(100% + 1px) calc(0% - 1px);    }

  &.tall {
    height: 5.55555556vw;
    mask-image: url("@images/angle-bottom-left-tall.svg"); mask-position: calc(100% + 1px) calc(0% - 1px);
  }
}
