@use "sass:math";
@use "../../../css/global/variables";

.wp-block-badegg-contact-cards {
  container-name: BadEggContactCards;
  container-type: inline-size;

  .card {
    &-flex {
      justify-content: center;
    }

    h4 {
      color: variables.$grey;
      text-transform: lowercase;
      font-size: 0.8em;
    }

    p {
      font-size: 1em;
    }

    a {
      color: variables.$secondary-darker;
    }

    .socials {
      font-size: 1.5em;
    }

    @container Card (min-width: 25em) {
      h4 { font-size: 1em; }
      p { font-size: 1.25em; }
      .socials { font-size: 2em; }
    }
  }
}
