@use "sass:math";
@use "../../../css/global/variables";

.wp-block-badegg-contact-cards {
  container-name: BadEggContactCards;
  container-type: inline-size;

  .card {
    &-flex {
      justify-content: center;
    }
  }

  h4 {
    color: variables.$grey;
    text-transform: lowercase;
    font-size: 0.8em;

    @media (min-width: variables.$screen-md) {
      font-size: 1em;
    }
  }

  a {
    color: variables.$secondary-darker;
  }

  .socials {
    font-size: 1.5em;

    @container Card (min-width: 25em) {
      font-size: 2em;
    }
  }
}
