@use "../../../css/global/variables";

.menu-fixed {
  position: relative;
  inset: 0;
  bottom: auto;
  z-index: 1000;
  transition: all 300ms ease;
  background: transparent;

  > .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    display: block;
    background: linear-gradient(0deg, variables.$white, rgba(variables.$white, 0.4));
    backdrop-filter: blur(1em);
    transition: all 300ms ease;
  }

  @media (min-width: #{variables.$screen-md}) {
    position: sticky;
    top: 0;
  }

  @media (max-width: #{variables.$screen-sm-max}) {
    .menu-open & {
      transform: translateX((variables.$offCanvasWidth * -1));
    }
  }

  &.first-block-knockout {
    position: absolute;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      background: linear-gradient(0deg, rgba(variables.$black, 0), rgba(variables.$black, 0.4));
      opacity: 0;
      transition: all 300ms ease;
    }

    @media (min-width: #{variables.$screen-md}) {
      position: fixed;
    }

    @media (max-width: variables.$screen-sm-max) {
      &::before { opacity: 0; }
    }

    &:not(.scrolled) {
      &::before { opacity: 0; }
      &::after { opacity: 1; }
    }
  }

  &-progress {
    position: fixed;
    inset: 0;
    bottom: auto;
    z-index: 1000;
    height: 0.25em;
    transition: all 300ms ease;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      background: variables.$tertiary;
      animation: grow linear forwards;
      animation-timeline: scroll();
    }

    @media (min-width: #{variables.$screen-md}) {
      position: absolute;
      top: auto;
      bottom: 0;
      height: 0.125em;

      .scrolled & {
        background: variables.$grey-lightest;
      }

      &::after {
        background: variables.$secondary-lighter;
      }
    }
  }
}

.menu-primary {
  &-ul {
    display: flex;
    align-items: flex-end;
    gap: 2em;

    @media (min-width: variables.$screen-sm) {
      justify-content: center;
    }

    li {
      @for $x from 0 through 10 {
        &.menu-item-order-#{$x} { order: $x; }
      }

      a {
        position: relative;
        display: block;
        padding: 1.5rem 1em;
        font-weight: 700;
        color: variables.$grey-dark;
        text-transform: lowercase;
        text-decoration: none;

        .first-block-knockout:not(.scrolled) & {
          color: variables.$white;
        }
      }

      &:not(.menu-item-logo) {
        a {
          &::before,
          &::after {
            color: variables.$secondary;
            position: absolute;
            top: calc(50% - 0.9em);
            font-size: 0.8em;
            width: 0.75em;
            opacity: 0;
            transition: all 300ms ease;
          }

          &::before {
            content: '{';
            left: 0;
            text-align: right;
            transform: translateX(-0.25em);
          }

          &::after {
            content: '}';
            right: 0;
            text-align: left;
            transform: translatex(0.25em);
          }
        }
      }

      &.current-menu-item,
      &:hover {
        a {
          color: variables.$grey-darker;

          &::before,
          &::after {
            opacity: 1;
            transform: none;
          }
        }
      }

      &.current-menu-item {
        a {
          &::before,
          &::after {
            color: variables.$tertiary-light;
          }
        }
      }

      // .wp-singular-service & {
      //   &.menu-services {
      //     a {
      //       color: variables.$grey-darker;

      //       .first-block-knockout & {
      //         color: variables.$white;
      //       }

      //       &::before,
      //       &::after {
      //         opacity: 1;
      //         transform: none;
      //         color: variables.$tertiary-light;
      //       }
      //     }
      //   }
      // }

      // .wp-singular-service & {
      //   .knockout & {
      //     &.menu-services {
      //       a {
      //         color: variables.$white;
      //       }
      //     }
      //   }
      // }

      @media (max-width: #{variables.$screen-sm-max}) {
        &:not(.menu-item-logo) {
          display: none;
        }
      }

      @media (min-width: #{variables.$screen-lg}) {
        font-size: 1.25em;
      }

      @media (min-width: #{variables.$screen-xl}) {
        font-size: 1.5em;
      }

      &.menu-item-logo {
        font-size: 1rem;

        .placeholder,
        img,
        svg {
          display: block;
          width: 7.5em;
          background: transparent;
        }

        a {
          padding: 0;
        }

        @media (min-width: #{variables.$screen-md}) {
          a {
            padding: 0 1em 0 3em;
          }
        }

        @media (min-width: #{variables.$screen-lg}) {
          .placeholder,
          img,
          svg {
            width: 10em;
          }
        }
      }
    }
  }
}

.post-type-archive-project .menu-primary-ul li.menu-projects a,
.wp-singular-project .menu-primary-ul li.menu-projects a,
.wp-singular-post .menu-primary-ul li.menu-blog a,
.wp-singular-service .menu-primary-ul li.menu-services a {
  color: variables.$grey-darker;

  &::before,
  &::after {
    opacity: 1;
    transform: none;
    color: variables.$tertiary-light;
  }
}

@media screen {
  .post-type-archive-project .first-block-knockout:not(.scrolled) .menu-primary-ul li.menu-projects a,
  .wp-singular-project .first-block-knockout:not(.scrolled) .menu-primary-ul li.menu-projects a,
  .wp-singular-post .first-block-knockout:not(.scrolled) .menu-primary-ul li.menu-blog a,
  .wp-singular-service .first-block-knockout:not(.scrolled) .menu-primary-ul li.menu-services a {
    color: variables.$white;
  }
}

.menu-item-logo,
.menu-item-logo-footer {
  .logo-bad-egg-digital {
    filter: none;
    transition: all 300ms ease;
    transform-origin: 75% 100%;
  }

  * {
    transition: all 300ms ease;
  }

  .logo-fire {
    transform-origin: 100% 100%;
  }

  &:hover {
    .logo-bad-egg-digital {
      transform: rotate(-2deg);
    }

    .fill-secondary-lighter { animation: flicker 1.5s infinite; }
    .fill-secondary { animation: flicker 1.5s infinite; }
    .fill-tertiary-light { animation: flicker 1.5s infinite; }
    .fill-tertiary-lighter { animation: flicker 1.25s infinite; }
    .fill-tertiary-lightest { animation: flicker 1s infinite; }

    .logo-fire {
      transform: translate3d(4%,5%,0) scale(1.07);
    }

    .logo-wordmark {
      fill: variables.$primary-darkest;
      transform: translate3d(0%,-2.5%,0);
    }

    .logo-banner {
      transform: rotate(-2deg) translate3d(-5%,-5%,0) scale(1.05);
    }
  }

  .knockout & {
    .logo-wordmark { fill: variables.$white; }
    .logo-outline { fill: transparent; }

    &:hover {
      .logo-wordmark { fill: variables.$secondary-lightest; }
    }
  }
}

.first-block-knockout {
  @media (max-width: variables.$screen-sm-max) {
    .logo-wordmark { fill: variables.$white; }
    .logo-outline { fill: transparent; }
  }

  &:not(.scrolled) {
    .logo-wordmark { fill: variables.$white; }
    .logo-outline { fill: transparent; }
  }
}
