@use "../global/variables";

.wrapper {
  container-name: Wrapper;
  container-type: inline-size;
  transition: all 300ms ease;

  @media (max-width: variables.$screen-sm-max) {
    .menu-open & {
      transform: translateX((variables.$offCanvasWidth * -1));
    }
  }
}
